html{
  text-align: centre;
}
body {
  background: url(https://images.pexels.com/photos/1595243/pexels-photo-1595243.jpeg?cs=srgb&dl=pexels-derice-jason-fahnkow-1595243.jpg&fm=jpg);
  border: 5px;
  border-color: white;
   background-size:cover;
   background-size: 220%;
   background-position:top;
   color: white;
   text-align: center;
   align-items: center;
   font-family: 'Bebas Neue', cursive;
  font-family: 'Cinzel', serif;
}
.container {
 padding-bottom: center;
}
h1{
  font-family:'Ultra', serif; 
  opacity: 0.2;
  font-size: 140px;
 
}
h2{
font-family: 'Playfair Display SC', serif;
opacity: 0.8;
font-size:70px ;
background-color: rgba(88, 88, 88, 0.29);
}
p{
  font-size: 30px;
}
button {
  transform: scale(2);
}
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
h3{
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
}
a{
  color: white;
  text-decoration: none;
  transition: transform 0.3s;
 font-family: 'Lobster', cursive;
 font-size: 50px;
}
a:visited {
  color: gray;
}
a:hover {
  color: #beccca;
  transform: scale(2);
}
.sz{
  font-size:10px ;
}
